<configuration debug="true">

    <appender name="LogcatAppender" class="ch.qos.logback.classic.android.LogcatAppender">
        <!-- encoders are  by default assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder
             %d{HH:mm:ss.SSS} [%thread] %-5level %logger{24} - %msg%n
             -->
        <tagEncoder>
            <pattern>%logger{0}</pattern>
        </tagEncoder>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug" additivity="false">
        <appender-ref ref="LogcatAppender" />
    </root>

</configuration>
